header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  // padding: 1rem;
  background-color: #{$secondary-color};
  border-bottom: 1px solid #{$secondary-color2};
  position: sticky;
  top: 0;
  z-index: 3;
  max-height: 15vh;
  .header-title {
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem 0;
  }
}
.logo {
  max-width: 200px;
}
.card-secondary {
  width: 100%;
  padding: 1rem;
}
footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #{$secondary-color};
  border-top: 1px solid #{$secondary-color2};
  padding: 1rem;
  gap: 1rem;
}
