.container-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eee;
}
.vehicle-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.vehicle-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5rem;
  .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .price {
    text-align: right;
  }
}
.card-item {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 0 3px 2px #eee;
  min-width: 250px;
  flex: 1;
  .card-body {
    width: 100%;
    text-align: left;
  }
}
.vehicle-card-hero {
  flex: 1;
  border-radius: 0.5rem;
  width: 100%;
  object-fit: cover;
}
.vehicle-details {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.vehicle-card {
  display: flex;
  flex-direction: column;
  background: white;
  max-width: 300px;
}
.disclaimer {
  text-align: center;
}
.vehicle-photos {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
  overflow-x: auto;
}
.vehicle-photo,
.active-vehicle-photo {
  min-width: 75px;
  display: flex;
  padding: 0;
}
.active-vehicle-photo {
  border: 2px solid #{$secondary-color};
}
.vehicle-hero {
  border-radius: 0.5rem;
  width: 100%;
  max-width: 900px;
}
.vehicle-img {
  border-radius: 0.5rem;
  width: 100%;
}
.filter-container {
  display: flex;
  gap: 1rem;
}
.filter-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}
