/**
for more options check out 
https://kdesign.co/blog/girly-color-palettes/

this project is going to use the Unicorn glow color palette
*/
// // background color
// $primary-color: #fae7eb;
// $primary-color2: #f2d7e8;
// $secondary-color: #d8bbd3;
// $secondary-color2: #b58ebc;
// $active-bg-color: #feef7b;
// $third-color2: #d3c454;
// // text color
// $active-text-color: #459be2;
// $primary-color: white;
// $primary-color-hover: #333;
// $primary-color5: gray;
// $text-color2: #333;
// $text-color2-hover: white;
// // box shadow color
// $shadow-color: purple;
// $shadow-color: #bb96c2;
// // // readmore lines
// $max-lines: 2;
// $line-height: 1.4;
// //  media queries
// $table: 680px;
// $mobile: 501px;

$danger: #f93131;
$success: #320064;

$primary-color: #282828;
$primary-color2: #343541;
$primary-color3: #292174;

$secondary-color: #444654;
$secondary-color2: #202123;
// $secondary-color2: #343541;

$text-color: #fff;
$text-color2: rgb(134, 134, 134);
$text-color3: rgb(0, 0, 0);

$instagram: #ea4c52;
// shadow blends
$shadow-color: #ddd;
$shadow-color2: purple;
$shadow-color3: #eee;

/* // // readmore lines */
$max-lines: 2;
$line-height: 1.4;
/* //  media queries */
$table: 680px;
$mobile: 500px;
$mini: 375px;
